:root {
    /* colors */
    --clr-primary-900: hsl(0, 0%, 0%);
    --clr-secondary-100: hsl(0, 0%, 100%);

    /* font size */
    --fs-900: 2rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
}

* {
    outline: 2px solid hotpink;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
}

.main-grid {
    display: grid;
    height: 100%;
}

.main-grid-template {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
}

.main-grid main section:first-child {
    grid-column: 1 / 4;
    color: white;
    background-color: black;
    height: 100%;
}

.main-grid main section:nth-child(2) {
    grid-column: 4 / 8;
}

.main-grid main section:last-child {
    grid-column: 8 / -1;
}